# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Среда виртуального окружения


# Модули
*.egg-info/
dist/
build/
*.egg

# Конфиденциальные файлы


# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

config.py

certs/
private_key.pem    
public_key.pem 
TODO.md 
# docker-compose.yml